:root {
   --doc-font-family: Inter, sans-serif;
   --doc-background-color: #f5fcf8;
   --doc-section-background-color: #fff;
   --doc-font-color: #000;
   --doc-link-font-color: #445ee3;
   --doc-link-text-decoration: none;
   --doc-border-color: #eee;

   --doc-header-background-color: var(--doc-section-background-color);
   --doc-header-font-color: #202330;
   --doc-footer-background-color: #2d3237;
   --doc-footer-font-color: #aba3a3;
   --doc-sidenav-background-color: transparent;
   --doc-sidenav-font-color: #202330;

   --doc-color-brand: #17cc78;
   --doc-color-brand-contrast: #000000;

   --doc-code-font-family: 'JetBrains Mono', monospace;
   --doc-code-background-color: #eee;
   --doc-code-font-color: #000;

   --doc-hero-background-color: #daf4e5;

   --doc-teasernav-header-background-color: #daf4e5;
   --doc-teasernav-header-contrast-color: #596157;

   --doc-icon-card-surface: #fbfefc;
   --doc-icon-card-border-color: #eee;
   --doc-icon-element-01: #596157;
   --doc-icon-element-01-text: #b5c8b7;
   --doc-icon-element-02: #adc2b3;
   --doc-icon-element-02-text: #7e917c;
   --doc-icon-card-header-background: #daf4e5;
   --doc-icon-text-01: #737373;
   --doc-icon-text-02: #708770;
}

@media (prefers-color-scheme: dark) {
   :root {
      --doc-background-color: #0d2d2a;
      --doc-section-background-color: #223936;
      --doc-font-color: #d5deda;
      --doc-link-font-color: #fff;
      --doc-link-text-decoration: underline;
      --doc-border-color: #555;

      --doc-header-background-color: var(--doc-section-background-color);
      --doc-header-font-color: #dfdccf;
      --doc-footer-background-color: #000;
      --doc-footer-font-color: #dfdccf;
      --doc-sidenav-font-color: #dfdccf;

      --doc-code-background-color: #666;
      --doc-code-font-color: #fff;

      --doc-hero-background-color: #204541;

      --doc-teasernav-header-background-color: #204541;
      --doc-teasernav-header-contrast-color: #a2bdba;

      --doc-icon-card-surface: #18322f;
      --doc-icon-card-border-color: #224f4a;
      --doc-icon-element-01: #a2bdba;
      --doc-icon-element-01-text: #435e5b;
      --doc-icon-element-02: #6d9a94;
      --doc-icon-element-02-text: #5c7e7a;
      --doc-icon-card-header-background: #214541;
      --doc-icon-text-01: #a2bdba;
      --doc-icon-text-02: #87aaa6;
   }
}

html {
   font: -apple-system-body;
   font-family: var(--doc-font-family);
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   font-family: var(--doc-font-family);
   background: var(--doc-background-color);
   color: var(--doc-font-color);
   padding: 0;
   margin: 0;
   overscroll-behavior: none;

   &.tmpl-startpage {
      background-color: #fff;
   }
}

figure {
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
}

.oak-leaves {
   display: block;
   position: fixed;
   inset: 0;
}

.oak-leaves img {
   width: 100%;
   height: 100%;
   max-width: 565px;
   object-fit: contain;
   margin: 0 auto;
}
