label {
   display: flex;
   border-bottom: 1px solid var(--doc-border);
   align-items: center;

   &:first-child {
      border-top: 1px solid var(--doc-border);
   }
}

label span {
   line-height: 1;
   padding: 0.25em 0.5em;
}

label span:first-child {
   flex: 1 1 auto;
   padding-right: 5%;
}

.input {
   width: 5.5em;
}

#common-chars {
   list-style-type: none;
   margin: 2em 0 1em;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   gap: 0.25em;
}

#common-chars li {
   display: inline-block;
   min-width: 1em;
   margin: 0;
   color: var(--doc-lnk-txt);
   cursor: pointer;
   text-align: center;
}

#common-chars li:hover {
   text-decoration: underline;
}

.non-visible:before {
   content: attr(data-text);
   font-size: 0.8em;
}

footer {
   font-size: 0.6667em;
   margin: 4em 0;
}
