---
const { frontmatter, indexing, title, heading, bodyClass } = Astro.props;
import '../../assets/scss/site.scss';
const _title = frontmatter?.title || title || '';
const _indexing = frontmatter?.indexing || indexing || false;
const _bodyClass = frontmatter?.bodyClass || bodyClass || '';
const showHeading = heading !== false;
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      {_indexing === false && <meta name="robots" content="noindex" />}
      <title>
         {`${_title ? _title : ''}${_title ? ' \u00B7 ' : ''}ekelof.net`}
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      {
         frontmatter?.description && (
            <meta name="description" content={frontmatter?.description} />
         )
      }
      <link rel="icon" href="/favicon.ico" sizes="48x48" />
      <!-- Additional head elements -->
   </head>
   <body class={_bodyClass ? `${_bodyClass}` : ''}>
      <slot name="body-content">
         <div class="doc-layout">
            <div class="doc-container">
               <main class="doc-content doc-dynamic-font">
                  {
                     showHeading && _title && (
                        <h1 class="doc-main-heading">{_title}</h1>
                     )
                  }
                  <slot />
               </main>
            </div>
         </div>
      </slot>
   </body>
</html>
