---
const { frontmatter, indexing, title } = Astro.props;
import '../../assets/scss/site.scss';
const _title = frontmatter?.title || title || '';
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      {
         (frontmatter?.indexing === false || indexing === false) && (
            <meta name="robots" content="noindex" />
         )
      }
      <title>
         {`${_title ? _title : ''}${_title ? ' \u00B7 ' : ''}ekelof.net`}
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      {
         frontmatter?.description && (
            <meta name="description" content={frontmatter?.description} />
         )
      }
      <!-- Additional head elements -->
   </head>
   <body class={frontmatter?.template ? `tmpl-${frontmatter?.template}` : ''}>
      <slot name="body-content">
         <div class="doc-layout">
            <div class="doc-container">
               <main class="doc-content doc-dynamic-font">
                  {title && <h1 class="doc-main-heading">{title}</h1>}
                  <slot />
               </main>
            </div>
         </div>
      </slot>
   </body>
</html>
