.doc-input {
   display: block;
   width: 100%;
   margin: 0;
   padding: 0.325em 0.75em;
   font-family: var(--doc-font);
   font-size: 1em;
   line-height: 1.375;
   color: var(--doc-form-input-txt);
   background-color: var(--doc-form-input-bg);
   background-image: none;
   border: 1px solid var(--doc-form-input-border);
   border-radius: 0.25em;

   &:read-only {
      filter: opacity(0.5); // grayscale(100%);
   }
}

textarea.doc-input {
   resize: vertical;
   min-height: 2.75em;
}
textarea.doc-input--code {
   font-family: var(--doc-code-font);
   font-size: 0.75em;
}

