.doc-layout {
   max-width: 55em;
   margin: 0 auto;

   body.wide & {
      max-width: none;
   }
}

.doc-content {
   background-color: var(--doc-section-bg);
   margin: 0.5em;
   padding: 0.5em;

   @media (min-width: 641px) {
      margin: 2em;
      padding: 1em 2em 2em;

      body.wide & {
         padding: 2em;
      }
   }
}
