---
import Wide from '../../templates/Wide.astro';
import '../../assets/scss/contrast-calculator.scss';
---

<Wide indexing={false} title="Contrast Calculator">
   <div class="grid">
      <h1 class="logo">
         <a href=".">
            <div><span>Contrast</span></div>
            <div><strong>Calculator</strong></div>
         </a>
      </h1>

      <div class="inputs">
         <div>
            <label>
               Background<br />
               <input type="text" value="#ffffff" data-color="bg" />
               <input type="color" value="#ffffff" data-color="bg" />
            </label>
         </div>
         <div>
            <label>
               Body text<br />
               <input type="text" value="#000000" data-color="text" />
               <input type="color" value="#000000" data-color="text" />
            </label>
         </div>
         <div>
            <label>
               Links<br />
               <input type="text" value="#3333FF" data-color="link" />
               <input type="color" value="#3333FF" data-color="link" />
            </label>
         </div>
         <div>
            <label title="Graphical Objects and User Interface Components">
               UI Components<br />
               <input type="text" value="#767676" data-color="ui" />
               <input type="color" value="#767676" data-color="ui" />
            </label>
         </div>
      </div>

      <div class="sample-wrapper">
         <div class="sample">
            <p class="sample__txt sample__large">
               Large text is 18pt (24px) and above or
               <b>bold at 14pt (18.66px) and above</b>)
            </p>
            <p class="sample__txt">
               Normal text is 12pt (16px). Here is
               <span class="sample__link">some link text</span>.
            </p>
            <p class="sample__ui">
               <small>Graphical Objects and User Interface Components</small><br
               />
               <svg width="19.21315" height="18.294994">
                  <g transform="translate(-192.905,-516.02064)">
                     <path
                        style="fill: currentColor"
                        d="M 197.67968,534.31563 C 197.40468,534.31208 196.21788,532.53719 195.04234,530.37143 L 192.905,526.43368 L 193.45901,525.87968 C 193.76371,525.57497 194.58269,525.32567 195.27896,525.32567 L 196.5449,525.32567 L 197.18129,527.33076 L 197.81768,529.33584 L 202.88215,523.79451 C 205.66761,520.74678 208.88522,517.75085 210.03239,517.13691 L 212.11815,516.02064 L 207.90871,520.80282 C 205.59351,523.43302 202.45735,527.55085 200.93947,529.95355 C 199.42159,532.35625 197.95468,534.31919 197.67968,534.31563 z "
                     ></path>
                  </g>
               </svg>
               <input type="text" tabindex="-1" value="Text Input" />
            </p>
         </div>
      </div>

      <div class="results-wrapper">
         <div class="results">
            <div class="result">
               <div class="resultRatio">
                  <span class="ratio" data-ratio="text-bg"><b>2.05</b>:1</span>
               </div>
               <div class="resultText">
                  <div class="resultTitle">Normal text to background</div>
                  <ul>
                     <li>
                        WCAG AA:
                        <span
                           class="passFail"
                           data-validate="text-bg"
                           data-pass="4.5"><b>Pass</b><b>Fail</b></span
                        >
                     </li>
                     <li>
                        WCAG AAA:
                        <span
                           class="passFail"
                           data-validate="text-bg"
                           data-pass="7"><b>Pass</b><b>Fail</b></span
                        >
                     </li>
                  </ul>

                  <div class="resultTitle">Large text to background</div>
                  <ul>
                     <li>
                        WCAG AA:
                        <span
                           class="passFail"
                           data-validate="text-bg"
                           data-pass="3"><b>Pass</b><b>Fail</b></span
                        >
                     </li>
                     <li>
                        WCAG AAA:
                        <span
                           class="passFail"
                           data-validate="text-bg"
                           data-pass="4.5"><b>Pass</b><b>Fail</b></span
                        >
                     </li>
                  </ul>
               </div>
            </div>

            <div class="result">
               <div class="resultRatio">
                  <span class="ratio" data-ratio="ui-bg"><b>2.05</b>:1</span>
               </div>
               <div class="resultText">
                  <div class="resultTitle">
                     Graphical Objects and User Interface Components
                  </div>
                  <ul>
                     <li>
                        WCAG AA:
                        <span
                           class="passFail"
                           data-validate="ui-bg"
                           data-pass="3"><b>Pass</b><b>Fail</b></span
                        >
                     </li>
                  </ul>
               </div>
            </div>

            <div class="result">
               <div class="resultRatio">
                  <span class="ratio" data-ratio="link-bg"><b>2.05</b>:1</span>
               </div>
               <div class="resultText">
                  <div class="resultTitle">Link to Background Normal Text</div>
                  <ul>
                     <li>
                        WCAG AA:
                        <span
                           class="passFail"
                           data-validate="link-bg"
                           data-pass="4.5"><b>Pass</b><b>Fail</b></span
                        >
                     </li>
                  </ul>
                  <div class="resultTitle">Link to Background Large Text</div>
                  <ul>
                     <li>
                        WCAG AA:
                        <span
                           class="passFail"
                           data-validate="link-bg"
                           data-pass="3"><b>Pass</b><b>Fail</b></span
                        >
                     </li>
                  </ul>
               </div>
            </div>

            <div class="result">
               <div class="resultRatio">
                  <span class="ratio" data-ratio="link-text"><b>2.05</b>:1</span
                  >
               </div>
               <div class="resultText">
                  <div class="resultTitle">Link to Body Text</div>
                  <ul>
                     <li>
                        WCAG A:
                        <span
                           class="passFail"
                           data-validate="link-text"
                           data-pass="3"><b>Pass</b><b>Fail</b></span
                        >
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script src="../../assets/js/contrast-calculator.js"></script>
</Wide>
