---
import Default from '../../templates/Default.astro';
import '../../assets/scss/base64-encoder.scss';
---

<Default indexing={false} title="Base64 image encoder">
   <button id="b64-canvas-png-btn" class="doc-button doc-button--small" disabled
      >Copy as PNG</button
   >
   <button
      id="b64-canvas-jpeg-btn"
      class="doc-button doc-button--small"
      disabled>Copy as JPEG</button
   >
   <button
      id="b64-canvas-webp-btn"
      class="doc-button doc-button--small"
      disabled>Copy as WEBP</button
   >
   <div class="doc-alert doc-alert--success" style="display: none;">
      Base 64 image copied to clipboard.
   </div>
   <div class="doc-alert doc-alert--error" style="display: none;">
      Could not copy base 64 image to clipboard.
   </div>
   <div id="b64-canvas-container" class="b64-canvas-container">
      <p>Paste or drop an image.</p>
      <canvas class="b64-canvas" id="b64-canvas" width="200" height="200"
      ></canvas>
   </div>
   <textarea
      id="output"
      class="doc-input doc-input--code"
      readonly
      style="height: 6em"></textarea>
   <script src="../../assets/js/base64-encoder.js"></script>
</Default>
