---
import Default from '../../templates/Default.astro';
import '../../assets/scss/unicode-converter.scss';
---

<Default indexing={false} title="HTML character entity converter">
   <div id="calculator">
      <label>
         <span>Character</span>
         <span>
            <input type="text" id="character" maxlength="1" class="input" />
         </span>
      </label>

      <label>
         <span>HTML character entity</span>
         <span>
            <input type="text" id="entity" maxlength="6" class="input" />
         </span>
      </label>

      <label>
         <span>Unicode for CSS</span>
         <span>
            <input type="text" id="css-hex" class="calc-only" readonly />
         </span>
      </label>

      <label>
         <span>Unicode for JavaScript</span>
         <span>
            <input type="text" id="js-hex" class="calc-only" readonly />
         </span>
      </label>
   </div>

   <ul id="common-chars">
      <li>&amp;</li>
      <li>&quot;</li>
      <li>&ldquo;</li>
      <li>&rdquo;</li>
      <li>&lsquo;</li>
      <li>&rsquo;</li>
      <li>&hellip;</li>
      <li>&lt;</li>
      <li>&gt;</li>
      <li>&laquo;</li>
      <li>&raquo;</li>
      <li>&lsaquo;</li>
      <li>&rsaquo;</li>
      <li>&lang;</li>
      <li>&rang;</li>
      <li>&copy;</li>
      <li>&trade;</li>
      <li>&reg;</li>
      <li>&deg;</li>
      <li>&plusmn;</li>
      <li>&frac12;</li>
      <li>&frac14;</li>
      <li>&frac34;</li>
      <li>&times;</li>
      <li>&divide;</li>
      <li>&permil;</li>
      <li>&sum;</li>
      <li>&radic;</li>
      <li>&infin;</li>
      <li>&sim;</li>
      <li>&asymp;</li>
      <li>&ne;</li>
      <li>&equiv;</li>
      <li>&le;</li>
      <li>&ge;</li>
      <li>&pi;</li>
      <li>&omega;</li>
      <li>&ndash;</li>
      <li>&mdash;</li>
      <li>&larr;</li>
      <li>&uarr;</li>
      <li>&rarr;</li>
      <li>&darr;</li>
      <li>&harr;</li>

      <!-- prettier-ignore -->
      <li class="non-visible" data-text="&amp;amp;shy">&shy;</li>
      <!-- prettier-ignore -->
      <li class="non-visible" data-text="&amp;amp;nbsp">&nbsp;</li>
   </ul>
   <p class="doc-p">
      <a
         href="http://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references#Character_entity_references_in_HTML"
         >List of XML and HTML character entity references</a
      >
   </p>

   <footer>
      <hr />
      <p class="doc-p">Created by Henrik Ekelöf, 2015.</p>
      <p class="doc-p">
         Inspired by <a
            href="https://estelle.github.io/CSS-JS-Entity-Calculator/"
            >CSS & Javascript Character Entity Calculator</a
         > by Estelle Weyl, 2007
      </p>
   </footer>

   <script src="../../assets/js/unicode-converter.js"></script>
</Default>
